<% include ../../partials/HEAD %>

  <div id="wrap">
    <div id="main">
      <div class="container mt-5">
        <h1 id='sign_up_header' class='ui dividing header'>Sign up</h2>
        <form class='ui big form' method="POST" action="/auth/signup">

            <div class='two fields'>
                <div class='field'>
                    <label> First Name </label>
                    <input type="text" name="first_name" placeholder='First Name'>
                </div>
                <div class='field'>
                    <label> Last Name </label>
                    <input type='text' name='last_name' placeholder='Last Name'>
                </div>
            </div>  

            <div class='two fields'>
                <div class='field'>
                    <label> I am a... </label>
                    <div class='ui selection dropdown'> 
                        <input type='hidden' name='occupation'>
                        <i class='dropdown icon'></i>
                        <div class='default text'> Select </div>
                        <div class='menu'>
                            <div class='item' data-value='student'>Student</div>
                            <div class='item' data-value='faculty'>Faculty</div>
                            <div class='item' data-value='staff'>Staff</div>
                            <div class='item' data-value='alumni'>Alumni</div>
                        </div>
                    </div>
                </div>
                <div class='field'>
                    <label> College / University </label>
                    <input type='text' name='college' placeholder='College/University'>
                </div>
            </div>

            <!-- This adds the dropdown effect to our menu -->
            <script>
                $('.ui.dropdown')
                    .dropdown()
                ;
            </script>

          <div class="field">
            <label for="email">Email address</label>
            <input id="email" name="email" type="email" class="form-control"/>
          </div>
  
          <div class="field">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" class="form-control" />
          </div>
  
          <div class="field">
            <label for="password2">Confirm your password</label>
            <input id="password2" name="password2" type="password" class="form-control" />
          </div>
  
          <div class="ui big red submit button"> Sign up </div>
          <div class="ui error message"></div>

        </form>

        <!-- BEGIN FORM VALIDATION -->
        <script>

            let validationRules = { 
                first_name: {
                    identifier: 'first_name',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please enter your first name!'
                        }
                    ]
                },
                last_name: {
                    identifier: 'last_name',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please enter your last name!'
                        }
                    ]
                },
                dropdown: {
                    identifier: 'occupation',
                    rules: [
                        {
                            type: 'empty',
                            prompt: "What's your current occupation"
                        }
                    ]
                },
                college: {
                    identifier: 'college',
                    rules: [
                        {
                            type: 'empty',
                            prompt: "Which college are you based in?"
                        }
                    ]
                },
                password: {
                    identifier: 'password',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please enter a password'
                        },
                        {
                            type: 'minLength[8]',
                            prompt: 'Your password needs to be at least {ruleValue} characters'
                        }
                    ]
                },
                password2: {
                    identifier: 'password2',
                    rules: [
                        {
                            type: 'match[password]',
                            prompt: 'Your passwords need to be the same'
                        }
                    ]
                }
           };

            $('.ui.form')
                .form({
                    fields: validationRules,
                    inline: true,
                    on: 'blur'
                })
            ;
        </script>
      </div>
    </div>
 </div>

<% include ../../partials/FOOT %>
