<% include ../partials/HEAD %>

    <div id='wrap'>
        <div id='main'>
            <div class='ui container'>
                <h1> Show account Page </h1>
                <div class="item">
                    <a href="/auth/logout"><div class="ui violet basic button"> Logout </div></a>
                </div>
            </div>
        </div>
    </div>

<% include ../partials/FOOT %>
