<% include ../partials/HEAD %>

    <div id="wrap">
        <div id="main">
            <div class="jumbotron jumbotron-fluid text-center" style="height:100vh; padding: 0; margin-bottom: 0; display:block;">
                <div class="content">
                    <h1> Civic Engagement map at Swarthmore College </h1>
                    <p class="lead"> Civic innovation meets geocoding technologies. Connect with like-minded innovators and change the world. </p>
                    <a href="/cem_map/new"><button class="ui violet basic button"> Add a pin </button></a>
                </div>
            </div>
        </div>
    </div>
<% include ../partials/FOOT %>
