<% include ../partials/HEAD %>

    <div id="wrap">
        <div id="main">
            
            <!-- Landing video -->
            <iframe id="landing_video" src="https://www.youtube.com/embed/_4B6e8mFqUI?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <!--Add our order class to something if we want to control the order in which
                things are displayed at different sizes. order is really important for creating
                websites that are going to be responsive because we may want some text to appear
                after images in a specific order.
            -->
            <div class="row align-items-center">
                <div class="col-md-6 order-2 order-md-1">
                    <img src="https://images.unsplash.com/photo-1509576931792-214960705f8a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1266&q=80"
                         alt="responsive-image" class="img-fluid">
                </div>
                <div class="col-md-6 text-center order-1 order-md-2">
                   CIVIC ENGAGEMENT 
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-md-6 text-center">
                   CIVIC ENGAGEMENT 
                </div>
                <div class="col-md-6 mr-0">
                    <img src="https://images.unsplash.com/photo-1486403184395-fc4990866136?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                         alt="responsive-image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
<% include ../partials/FOOT %>
