
<% include ../partials/HEAD %>




    <!-- TODO: Refactor this form and figure out a better way of saving the location a user adds. -->
    <div id="wrap">
        <div id="main">
            <div class="ui container" id="REGISTRATION_FORM" style="padding-top: 2rem; margin-bottom: 2rem;">
                <form method="POST" action="/cem_map" class="ui big form"> 

                    <div class="field">
                        <label> Title </label>
                        <input type="text" name="title" placeholder="Title">
                    </div>

                    <div class='field'>
                        <label> Project Type </label>
                        <div class='ui selection dropdown'>
                            <input type='hidden' name='project_type'>
                            <i class='dropdown icon'></i>
                            <div class='default text'> Select </div>
                            <div class='menu'>
                                <div class='item' data-value='project'> Independent Project</div>
                                <div class='item' data-value='organization'>Organization</div>
                                <div class='item' data-value='research'>Research</div>
                                <div class='item' data-value='course'>Course</div>
                            </div>
                        </div>
                    </div>

                    <script>
                        $('.ui.dropdown')
                            .dropdown()
                        ;
                    </script>

                    <div class="field">
                        <label> Project Description </label>
                        <textarea name="description" placeholder='Tell us what your project is all about!'></textarea>
                    </div>

                    <div class="field">
                        <label> Project Website </label>
                        <input type="text" name="project_website" placeholder="Link your projects website!">
                    </div>

                    <div class="field">
                        <label> Include an image for your project! </label>
                        <input type="text" name="img"> 
                    </div>

                    <div class='two fields'>
                        <div class='field'>
                            <label> Location of your project </label>
                            <input type='text' name='building' placeholder="What's your main building?">
                        </div>
                        <div class='field'>
                            <label> Room Number </label>
                            <input type='text' name='room_number' placeholder="Room number">
                        </div>
                    </div>

                    <div class="field">
                        <label> Other community partners? </label>
                        <input type="text" name="community_partners" placeholder="Are there people you've collaborated on this project with? List them here!">
                    </div>

                    <div class="field">
                        <label> Project Mission </label>
                        <input type="text" name="project_mission" placeholder="What's your projects misson?">
                    </div>

                    <div class="field">
                        <label> Address </label>
                        <div class="fields">
                            <div class="twelve wide field">
                                <input type="text" name="address" placeholder="Street address">
                            </div>
                        </div>
                    </div>


                    <div class= "field">
                        <label> City </label>
                        <input type="text" name="city" placeholder="city">
                    </div>

                    <div class= "field">
                        <label> State </label>
                        <input type="text" name="state" placeholder="state">
                    </div>

                    <div class="field">
                        <label> Zip code </label>
                        <input type="text" name="zip" placeholder="Zip Code">
                    </div>

                    <div class="field">
                        <label> Country </label>
                        <input type="text" name="country" placeholder="country">
                    </div>

                    <div class="field">
                        <button type="submit" class="big ui primary button"> Submit </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


<% include ../partials/FOOT %>
