
<% include ../partials/HEAD %>




    <!-- TODO: Refactor this form and figure out a better way of saving the location a user adds. -->
    <div id="wrap">
        <div class="ui container" id="main"> 
            <form method="POST" action="/cem_map" class="ui form"> 
                <div class="field">
                    <label> title </label>
                    <input type="text" name="title" placeholder="title">
                </div>

                <div class="field">
                    <label> description of this organizations misson </label>
                    <textarea name="description"></textarea>
                </div>

                <div class="field">
                    <label> other community partners? </label>
                    <input type="text" name="community_partners" placeholder="Other community partners or resources">
                </div>

                <div class="field">
                    <label> contact name </label>
                    <input type="text" name="contact" placeholder="primary contact for this organization or individual">
                </div>

                <div class="field">
                    <label> contact email address </label>
                    <input type="email" name="contact_email" placeholder="best email to get more information from">
                </div>

                <div class="field">
                    <label> address </label>
                    <div class="fields">
                        <div class="twelve wide field">
                            <input type="text" name="address" placeholder="street address include zipcode">
                        </div>
                    </div>
                </div>

                <div class= "field">
                    <label> city </label>
                    <input type="text" name="city" placeholder="city">
                </div>

                <div class= "field">
                    <label> state </label>
                    <input type="text" name="state" placeholder="state">
                </div>

                <div class="field">
                    <label> country </label>
                    <input type="text" name="country" placeholder="country">
                </div>

                <div class="field">
                    <label> zip code </label>
                    <input type="text" name="zip" placeholder="zip_code">
                </div>

                <div class="field">
                    <button type="submit" class="big ui primary button"> submit </button>
                </div>
            </form>
        </div>
    </div>


<% include ../partials/FOOT %>
