<% include ../partials/HEAD %>

    <div id="wrap">
        <div id="main">
            <div class="ui container" style="margin: 2rem;">
                <h1> <%= thisPin.properties.title %> </h1>
            </div>
        </div>
    </div>

<% include ../partials/FOOT %>
