* {
    margin: 0;
    padding: 0;
}


html,
body{
    height: 100%;
    font-family: 'Mada', sans-serif;
    font-size: 1rem;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 180px;
}

#header {

    font-family: 'Raleway', sans-serif;
    height: 4rem;
    margin-bottom: 0;
}
#footer {
    position: relative;
    margin-top: -180px;
    height: 180px;
    clear: both;
}

body:before {
    content: "";
    height: 100%;
    float: left;
    width 0;
    margin-top: -32767px;
}

#LANDING_JUMBO {
    align-items: center;
}

#map {
    height: 100vh;
    border-left: 1px solid #fff;
}

.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

#pin_listing {

    padding: 25px;
}

div.card:nth-of-type(1) {
    margin-top: 10px;
}

div.card {
    
    margin-bottom: 10px;

} 

.listings .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}
