* {
    margin: 0;
    padding: 0;
}


html,
body{
    height: 100%;
    font-size: 1rem;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 180px;
}

#header {

    font-family: 'Raleway', sans-serif;
    height: 4rem;
    margin-bottom: 0;
}
#footer {
    position: relative;
    margin-top: -180px;
    height: 180px;
    clear: both;
    background-color: rgb(142,42,42);
}

body:before {
    content: "";
    height: 100%;
    float: left;
    width 0;
    margin-top: -32767px;
}

#landing_video {
    text-align: center;
    height: 90vh;
    width: 100%;
    background-size: cover;
}

#jumbotron_text {
    width: fit-content;
    padding-top: 20%;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

#map {
    height: 100vh;
    border-left: 1px solid #fff;
}

.marker {
  background-image: url('');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

#pin_listing {

    padding: 25px;
}

div.card:nth-of-type(1) {
    margin-top: 10px;
}

div.card {
    margin-bottom: 10px;
} 

.listings .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

/* Selector for our menu */
div.ui.massive.secondary.menu {
    margin-bottom: 0;
    /* background-color: rgb(162, 42, 42); */
}
div a {
    font-family: 'Asap', sans-serif;
    font-size: 1.2rem;
    color: black;
}
.fas {

    color: rgb(162,42,42);

}
a.title {
    color: black;
}

div.item a:hover {
    
}

div.ui.inverted.button {
    font-family: 'Raleway', sans-serif;
}

h1.ui.header {
    font-family: 'Raleway', sans-serif;
}

#sign_in_form {
    font-family: 'Asap', sans-serif;
    margin-top: 10%;
    width: 300px;
    display: inline-block;
    margin-left: 35%;
}

#sign_in_header {
    font-family: 'Asap', sans-serif;
    font-weight: bold;
}

#sign_in_anchor {
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
    padding-left: 5px;
}

div.ui.simple.dropdown.item {
    font-size: 3rem; 
    padding-top: 1rem; 
    font-family: 'Raleway', sans-serif; 
    color: rgb(162,42,42);
}

i.dropdown.icon {
    font-size: 1.0rem !important;
}

/* Edit my pins selector */
div.row:nth-child(2) > div:nth-child(1) > div:nth-child(1) div:nth-child(2) > div:nth-child(1) {
    font-family: 'Asap', sans-serif; 
}

/* Edit my account settings selector */
div.row:nth-child(3) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
    font-family: 'Asap', sans-serif; 
}

/* Give feedback selector */
div.row:nth-child(4) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
    font-family: 'Asap', sans-serif; 
}

/* Selector for icon */
.fas {
    margin-top: 5px;
}

/* My account text */
#acc_icon_txt {
    font-family: 'Asap', sans-serif;
    font-size: 1.2rem;
    color: black;
    margin-top: -5px;
}
