html
  head
    title Mapbox
    script(src='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js')
    link(href='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet')
  body
    h1 Mapbox
    div#map(style="width: 1024px; height: 768px;")

    p Showing map for #{center}

    script.

      // Get the center points.. not sure if there is a way to access the center
      // variable directly from pug in this script
      const urlParams = new URLSearchParams(window.location.search);
      const center = urlParams.get("center");
      const key = urlParams.get("key")

      mapboxgl.accessToken = key;

      const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v9',
        center: center.split(","), // this will turn the passed string into an array 
        zoom: 13
      });
