

    <div class="ui inverted vertical footer segment" id="footer">
        <div class="ui container">
            <div class="right item">
                Designed by Steven Fernandez. All Rights Reserved
            </div>
        </div>
    </div>

    </body>
</html>
