
<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8" />
        <!--Link in semantic UI-->
        <link rel="stylesheet" style="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"> 
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

        <!--Link in Bootstrap css-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!--Link in our style sheet-->
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

        <!--link in mapbox gl js-->
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />

        <!--Link in googlefonts-->
        <link href="https://fonts.googleapis.com/css?family=Asap:700|Encode+Sans+Semi+Expanded:200|Mada:300&display=swap" rel="stylesheet"> 

        <link href="https://fonts.googleapis.com/css?family=Raleway:300|Roboto:100&display=swap" rel="stylesheet">


    </head>
    <body> 

        <!-- add in our navbar -->
        <div class="ui red menu" id="header">
            <div class="ui container">
                <a class="header item" href="/"> HOME </a>
                <a class="item" href="/cem_map"> View Map </a>
                <a class="item" href="/auth/login">Login</a>
                <a class="item" href="/auth/signup">Sign Up </a>
                <a class="item" href="/auth/logout">Log out </a>
            </div>
        </div>
