

    <div class="ui inverted vertical footer segment" id="footer">
        <div class="ui center aligned container">
            <div class='ui horizontal inverted small divided link list'>
                <div class="right item">
                    Designed by Steven Fernandez. All Rights Reserved
                </div>
            </div>
        </div>
    </div>

    </body>
</html>
